/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffffff, #8c30f5);
  border-radius: 8px;
}

body.scroll-top::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffffff, #8c30f5);
  border-radius: 8px;
}

body.scroll-bottom::-webkit-scrollbar-thumb {
  background: linear-gradient(#8c30f5, #ffffff);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffffff, #8c30f5);
  border-radius: 8px;
}

.custom-scrollbar.scroll-top::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffffff, #8c30f5);
  border-radius: 8px;
}

.custom-scrollbar.scroll-bottom::-webkit-scrollbar-thumb {
  background: linear-gradient(#8c30f5, #ffffff);
  border-radius: 8px;
}

.text-gradient {
  background: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradient 2s linear infinite;
}

.avatar-gradient {
  background: linear-gradient(90deg, rgba(255,0,255,1) 0%, #8c30f5 50%, rgba(0,255,255,1) 100%);
  background-size: 200% auto;
  animation: gradient 2s linear infinite;
}

@keyframes gradient {
  0% { background-position: 0% 75%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 75%;}
}


.effect {
  height: 300%;
  width: 300%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.effect::before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  background: conic-gradient(
    #8c30f5,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
  left: -25%;
  top: -25%;
}

.child:hover .effect::before {
  animation: spin 4s linear infinite reverse;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.effect::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  top: 3.5%;
  left: 3.5%;
}

.star-svg{ display:inline }
